.team-section {
  padding: 60px 0;
  background-color: #f2f2f3;
}

.team-card {
  text-align: center;
  padding: 0;
}

.team-image-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.team-image {
  width: 100%;
  height: 400px; /* Adjust as needed */
  object-fit: cover;
  transition: filter 0.3s ease;
  filter: grayscale(99%)
}

/* .team-image-wrapper:hover .team-image {
  filter: grayscale(0%);
} */

.team-info {
  padding: 30px;
  background: white;
  border-radius: 8px;
  margin-top: -30px; /* Adjust as needed to overlap with image */
  z-index: 1;
}

.team-info h5 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  margin: 10px 0;
}

.team-info p {
  font-size: 1rem;
  color: #424242;
  margin: 5px 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Responsive styles */
@media (max-width: 768px) {

  .team-info h5 {
    font-size: 1rem;
  }

  .team-info p {
    font-size: 0.9rem;
  }
}
